@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

.SignUpPage-Title {
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 91px;
  text-align: center;
  color: #56d0ae;
  font-family: "Michroma", sans-serif;
}

.SignUpPage-Background {
  width: 100%;
  height: calc(100vh - 200px); /* 100% minus padding */
  padding-top: 200px;
  background-color: #25363e;
}

.SignUpPage-Subtitle1 {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  margin-top: 25px;
  color: #96fb77;
  font-family: "Michroma", sans-serif;
}

.SignUpPage-Subtitle2 {
  font-style: normal;
  font-weight: 150;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
  color: #fbf977;
  font-family: "Michroma", sans-serif;
}
