.SignUpPage-Title {
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 91px;
  text-align: center;
  margin-top: 150px;

  color: #56d0ae;
}

.SignUpPage-Background {
  width: 100%;
  height: 100%;

  background-color: #25363e;
}

.SignUpPage-Subtitle1 {
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 28px;
  text-align: center;
  margin-top: 25px;
  color: #96fb77;
}

.SignUpPage-Subtitle2 {
  font-style: normal;
  font-weight: 150;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-top: 20px;
  color: #fbf977;
}
