.Card-title {
  font-size: 15px;
}

.Card-betcontent {
  font-size: 20px;
}

.Card-container {
  background-color: rgb(220, 255, 241);
  display: flex;
  width: 50 px;
  height: 150px;
  border: 0.5px black solid;
  flex-direction: column;
  justify-content: left;
  column-gap: 16px;
  margin-bottom: 16px;
}

.Card-options {
  display: flex;
}

.Card-newbetcontainer {
  background-color: rgb(255, 167, 66);
  margin: 16px;
  padding: 20px;
}
